version: '3.8'

services:
  app:
    build: ./Server
    container_name: fastapi_app
    expose:
      - "8000"
    labels:
      - "traefik.enable=true"
      # HTTP to HTTPS redirect
      - "traefik.http.routers.app-http.entrypoints=web"
      - "traefik.http.routers.app-http.rule=Host(`miniapp.calc.press`)"  # ← БЕЗ подчеркивания
      - "traefik.http.routers.app-http.middlewares=redirect-to-https"
      # HTTPS с SSL
      - "traefik.http.routers.app.entrypoints=websecure"
      - "traefik.http.routers.app.rule=Host(`miniapp.calc.press`)"  # ← БЕЗ подчеркивания
      - "traefik.http.routers.app.tls.certresolver=le"
      - "traefik.http.services.app.loadbalancer.server.port=8000"
    networks:
      - proxy-network
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

  bot:
    build: ./Bot
    container_name: telegram_bot
    expose:
      - "8080"
    environment:
      CONTEINER: True

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bot-http.entrypoints=web"
      - "traefik.http.routers.bot-http.rule=Host(`bot.miniapp.calc.press`)"
      - "traefik.http.routers.bot-http.middlewares=redirect-to-https"
      - "traefik.http.routers.bot.entrypoints=websecure"
      - "traefik.http.routers.bot.rule=Host(`bot.miniapp.calc.press`)"
      - "traefik.http.routers.bot.tls.certresolver=le"
      - "traefik.http.services.bot.loadbalancer.server.port=8080"
    networks:
      - proxy-network
    restart: always


networks:
  proxy-network:
    external: true
    name: traefik_proxy-network