version: '3.8'

services:
  mailcow:
    image: mailcow/mailcow-dockerized:latest
    container_name: mailcow
    environment:
      - MAILCOW_HOSTNAME=mail.calc.press
      - MAILCOW_TZ=Europe/Moscow
      - ADDITIONAL_SAN=vikunja.calc.press
    volumes:
      - mailcow_data:/var/lib/mysql
      - mailcow_redis:/var/lib/redis
      - mailcow_rspamd:/var/lib/rspamd
      - mailcow_postfix:/var/lib/postfix
    ports:
      - "25:25"    # SMTP - прием почты из интернета
      - "993:993"  # IMAPS - веб-почта
      # Порт 587 НЕ пробрасываем - доступен только внутри Docker
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mailcow-http.entrypoints=web"
      - "traefik.http.routers.mailcow-http.rule=Host(`mail.calc.press`)"
      - "traefik.http.routers.mailcow-http.middlewares=redirect-to-https"
      - "traefik.http.routers.mailcow.entrypoints=websecure"
      - "traefik.http.routers.mailcow.rule=Host(`mail.calc.press`)"
      - "traefik.http.routers.mailcow.tls.certresolver=le"
      - "traefik.http.services.mailcow.loadbalancer.server.port=80"
    cap_add:
      - NET_ADMIN
      - SYS_PTRACE
    restart: unless-stopped
    networks:
      - proxy-network

volumes:
  mailcow_data:
  mailcow_redis:
  mailcow_rspamd:
  mailcow_postfix:

networks:
  proxy-network:
    external: true
    name: traefik_proxy-network