version: '3.8'

services:
  app:
    build: ./Server
    container_name: fastapi_app
    expose:
      - "8000"
    labels:
      - "traefik.enable=true"
      # HTTP to HTTPS redirect
      - "traefik.http.routers.app-http.entrypoints=web"
      - "traefik.http.routers.app-http.rule=Host(`mini_app.calc.press`)"
      - "traefik.http.routers.app-http.middlewares=redirect-to-https"
      # HTTPS —Å SSL
      - "traefik.http.routers.app.entrypoints=websecure"
      - "traefik.http.routers.app.rule=Host(`mini_app.calc.press`)"
      - "traefik.http.routers.app.tls.certresolver=myresolver"
      - "traefik.http.services.app.loadbalancer.server.port=8000"
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true
    name: traefik_proxy-network