version: '3.8'

services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy"
    networks:
      - proxy

  letsencrypt:
    image: nginxproxy/acme-companion
    container_name: letsencrypt_companion
    depends_on:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
    environment:
      - DEFAULT_EMAIL=i_nevakshenov@mail.ru
      - NGINX_PROXY_CONTAINER=nginx_proxy
    networks:
      - proxy

  app:
    build: ./Server
    container_name: fastapi_app
    expose:
      - "8000"
    environment:
      - VIRTUAL_HOST=calc.press
      - LETSENCRYPT_HOST=calc.press
    networks:
      - proxy

volumes:
  certs:
  html:
  vhost:

networks:
  proxy:
    driver: bridge