version: '3.8'

services:
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja_app
    env_file:
      - .env
    environment:
#      - PUID=1001
#      - PGID=1003
      # Обязательные настройки
      - VIKUNJA_SERVICE_PUBLICURL=https://vikunja.calc.press
      - VIKUNJA_SERVICE_JWTSECRET=${VIKUNJA_JWT_SECRET}

      # Настройки базы данных
      - VIKUNJA_DATABASE_HOST=db
      - VIKUNJA_DATABASE_TYPE=mysql
      - VIKUNJA_DATABASE_USER=${VIKUNJA_DB_USER}
      - VIKUNJA_DATABASE_PASSWORD=${VIKUNJA_DB_PASSWORD}
      - VIKUNJA_DATABASE_DATABASE=${VIKUNJA_DB_NAME}

      # Настройки файлового хранилища - ИСПРАВЛЕНО!
      - VIKUNJA_FILES_BASEURL=https://vikunja.calc.press
      - VIKUNJA_FILES_STORAGE_TYPE=local
      - VIKUNJA_FILES_STORAGE_LOCAL_PATH=/app/vikunja/files

      # Дополнительные настройки
      - VIKUNJA_CORS_ENABLED=true
      - VIKUNJA_CACHE_ENABLED=true

      # НАСТРОЙКИ S3 ДЛЯ CLOUD.RU
#      - VIKUNJA_FILES_STORAGE_TYPE=s3
#      - VIKUNJA_FILES_STORAGE_S3_ENDPOINT=${CLOUD_RU_S3_ENDPOINT}
#      - VIKUNJA_FILES_STORAGE_S3_BUCKET=${CLOUD_RU_S3_BUCKET}
#      - VIKUNJA_FILES_STORAGE_S3_REGION=${CLOUD_RU_S3_REGION}
#      - VIKUNJA_FILES_STORAGE_S3_ACCESSKEY=${CLOUD_RU_S3_ACCESS_KEY}
#      - VIKUNJA_FILES_STORAGE_S3_SECRETKEY=${CLOUD_RU_S3_SECRET_KEY}
#      - VIKUNJA_FILES_STORAGE_S3_SSL=true
#      - VIKUNJA_FILES_STORAGE_S3_FORCEPATHSTYLE=false

      # НАСТРОЙКИ SMTP ДЛЯ YANDEX
      #- VIKUNJA_MAILER_ENABLED=true
      #- VIKUNJA_MAILER_FROM_EMAIL=${SMTP_FROM_EMAIL}
      #- VIKUNJA_MAILER_FROM_NAME=${SMTP_FROM_NAME}
      #- VIKUNJA_MAILER_HOST=${SMTP_HOST}
      #- VIKUNJA_MAILER_PORT=${SMTP_PORT}
      #- VIKUNJA_MAILER_USERNAME=${SMTP_USERNAME}
      #- VIKUNJA_MAILER_PASSWORD=${SMTP_PASSWORD}
      #- VIKUNJA_MAILER_TLS=${SMTP_TLS}
      #- VIKUNJA_MAILER_SSL=${SMTP_SSL}
      #- VIKUNJA_MAILER_SKIP_TLS_VERIFY=${SMTP_SKIP_VERIFY}
      #- VIKUNJA_MAILER_AUTHTYPE=${SMTP_AUTH}
      - VIKUNJA_MAILER_ENABLED= true
      - VIKUNJA_MAILER_HOST= smtp.mailgun.org
        # VIKUNJA_MAILER_PORT: 465
      - VIKUNJA_MAILER_AUTHTYPE=login
      - VIKUNJA_MAILER_USERNAME=ivan-0781@yandex.ru
      - VIKUNJA_MAILER_PASSWORD=yzmiqfbinwasqkjw
      - VIKUNJA_MAILER_FROMEMAIL=no-reply@email.com
      - VIKUNJA_DEFAULTSETTINGS_EMAIL_REMINDERS_ENABLED=true


#      - VIKUNJA_MAILER_HOST=smtp.yandex.ru
#      - VIKUNJA_MAILER_PORT=465
#      - VIKUNJA_MAILER_AUTHTYPE=login
#      - VIKUNJA_MAILER_USERNAME=ivan-0781@yandex.ru
#      - VIKUNJA_MAILER_PASSWORD=yzmiqfbinwasqkjw


    volumes:
      - ~/vikunja_files:/app/vikunja/files
      - /tmp/vikunja_cache:/.cache
#      - vikunja_files:/app/vikunja/files
#      - /mnt/vikunja-files:/app/vikunja/files


    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vikunja-http.entrypoints=web"
      - "traefik.http.routers.vikunja-http.rule=Host(`vikunja.calc.press`)"
      - "traefik.http.routers.vikunja-http.middlewares=redirect-to-https"
      - "traefik.http.routers.vikunja.entrypoints=websecure"
      - "traefik.http.routers.vikunja.rule=Host(`vikunja.calc.press`)"
      - "traefik.http.routers.vikunja.tls.certresolver=le"
      - "traefik.http.services.vikunja.loadbalancer.server.port=3456"
    networks:
      - proxy-network
    depends_on:
      db:
        condition: service_healthy
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

  db:
    image: mariadb:10.11
    container_name: vikunja_db
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${VIKUNJA_DB_ROOT_PASSWORD}
      - MYSQL_USER=${VIKUNJA_DB_USER}
      - MYSQL_PASSWORD=${VIKUNJA_DB_PASSWORD}
      - MYSQL_DATABASE=${VIKUNJA_DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - vikunja_db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - proxy-network
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

volumes:
  vikunja_db_data:

networks:
  proxy-network:
    external: true
    name: traefik_proxy-network
