services:
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja_app
    # Не указываем user - используем пользователя из образа
    env_file:
      - .env
    environment:
      - VIKUNJA_SERVICE_PUBLICURL=https://vikunja.calc.press
      - VIKUNJA_SERVICE_JWTSECRET=${VIKUNJA_JWT_SECRET}
      - VIKUNJA_DATABASE_HOST=db
      - VIKUNJA_DATABASE_TYPE=mysql
      - VIKUNJA_DATABASE_USER=${VIKUNJA_DB_USER}
      - VIKUNJA_DATABASE_PASSWORD=${VIKUNJA_DB_PASSWORD}
      - VIKUNJA_DATABASE_DATABASE=${VIKUNJA_DB_NAME}
      - VIKUNJA_FILES_STORAGE_TYPE=local
      - VIKUNJA_FILES_STORAGE_LOCAL_PATH=/app/vikunja/files

    volumes:
      - vikunja_files:/app/vikunja/files

    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3456/api/v1/info" ]
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 3

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vikunja-http.entrypoints=web"
      - "traefik.http.routers.vikunja-http.rule=Host(`vikunja.calc.press`)"
      - "traefik.http.routers.vikunja-http.middlewares=redirect-to-https"
      - "traefik.http.routers.vikunja.entrypoints=websecure"
      - "traefik.http.routers.vikunja.rule=Host(`vikunja.calc.press`)"
      - "traefik.http.routers.vikunja.tls.certresolver=le"
      - "traefik.http.services.vikunja.loadbalancer.server.port=3456"

    networks:
      - proxy-network
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mariadb:10.11
    container_name: vikunja_db
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${VIKUNJA_DB_ROOT_PASSWORD}
      - MYSQL_USER=${VIKUNJA_DB_USER}
      - MYSQL_PASSWORD=${VIKUNJA_DB_PASSWORD}
      - MYSQL_DATABASE=${VIKUNJA_DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - vikunja_db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - proxy-network

volumes:
  vikunja_db_data:
  vikunja_files:

networks:
  proxy-network:
    external: true
    name: traefik_proxy-network