# docker-compose.vikunja.yml
version: '3.8'

services:
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja_app
    user: "1001:1001"
    env_file:
      - .env
    environment:
      - VIKUNJA_SERVICE_PUBLICURL=https://vikunja.calc.press
      - VIKUNJA_SERVICE_JWTSECRET=${VIKUNJA_JWT_SECRET}
      - VIKUNJA_DATABASE_HOST=db
      - VIKUNJA_DATABASE_TYPE=mysql
      - VIKUNJA_DATABASE_USER=${VIKUNJA_DB_USER}
      - VIKUNJA_DATABASE_PASSWORD=${VIKUNJA_DB_PASSWORD}
      - VIKUNJA_DATABASE_DATABASE=${VIKUNJA_DB_NAME}
      
      # Яндекс Object Storage
      - VIKUNJA_FILES_BASEURL=https://vikunja.calc.press
      - VIKUNJA_FILES_STORAGE_TYPE=s3
      - VIKUNJA_FILES_STORAGE_S3_ENDPOINT=storage.yandexcloud.net
      - VIKUNJA_FILES_STORAGE_S3_BUCKET=${YANDEX_S3_BUCKET}
      - VIKUNJA_FILES_STORAGE_S3_REGION=ru-central1
      - VIKUNJA_FILES_STORAGE_S3_ACCESSKEY=${YANDEX_S3_ACCESS_KEY}
      - VIKUNJA_FILES_STORAGE_S3_SECRETKEY=${YANDEX_S3_SECRET_KEY}
      - VIKUNJA_FILES_STORAGE_S3_SSL=true
      
      - VIKUNJA_CORS_ENABLED=true
      - VIKUNJA_CACHE_ENABLED=true
    volumes:
      - vikunja_cache:/tmp/cache
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vikunja-http.entrypoints=web"
      - "traefik.http.routers.vikunja-http.rule=Host(`vikunja.calc.press`)"
      - "traefik.http.routers.vikunja-http.middlewares=redirect-to-https"
      - "traefik.http.routers.vikunja.entrypoints=websecure"
      - "traefik.http.routers.vikunja.rule=Host(`vikunja.calc.press`)"
      - "traefik.http.routers.vikunja.tls.certresolver=le"
      - "traefik.http.services.vikunja.loadbalancer.server.port=3456"
    networks:
      - proxy-network
    depends_on:
      db:
        condition: service_healthy

  # ... остальное без изменений